
%---------------------------
%         REGIONS           
%---------------------------

Region: match
  Type: VALIDATION
  Label: "match"
  TexLabel: "match"
  VariableTitle: "match"
  Variable: "match",30,0,1

Region: lep_Pt_H1
  Type: VALIDATION
  Label: "lep_Pt_H1"
  TexLabel: "Lepton  $p_T$ H1 [GeV]"
  VariableTitle: "Lepton  p_{T} H1 [GeV]"
  Variable: "lep_Pt_H1/1000",30,0,400

Region: lep_Pt_H0
  Type: VALIDATION
  Label: "lep_Pt_H0"
  TexLabel: "Lepton  $p_T$ H0 [GeV]"
  VariableTitle: "Lepton  p_{T} H0 [GeV]"
  Variable: "lep_Pt_H0/1000",30,0,400

Region: lep_Pt_T
  Type: VALIDATION
  Label: "lep_Pt_T"
  TexLabel: "Lepton  $p_T$ T [GeV]"
  VariableTitle: "Lepton  p_{T} T [GeV]"
  Variable: "lep_Pt_T/1000",30,0,400

Region: top_Pt_0
  Type: VALIDATION
  Label: "top_Pt_0"
  TexLabel: "top  $p_T$ 0 [GeV]"
  VariableTitle: "top  p_{T} 0 [GeV]"
  Variable: "top_Pt_0/1000",30,0,400

Region: top_Pt_1
  Type: VALIDATION
  Label: "top_Pt_1"
  TexLabel: "top  $p_T$ 1 [GeV]"
  VariableTitle: "top  p_{T} 1 [GeV]"
  Variable: "top_Pt_1/1000",30,0,400

Region: dPhi_lH1_met
  Type: VALIDATION
  Label: "dPhi_lH1_met"
  TexLabel: "$\Delta\phi(l_{H1})(E_T^{miss})$"
  VariableTitle: "\Delta\phi(l_{H1})(E_{T}^{miss})"
  Variable: "dPhi_lH1_met",30,-3.5,3.5

Region: dPhi_lT_met
  Type: VALIDATION
  Label: "dPhi_lT_met"
  TexLabel: "$\Delta\phi(l_{T})(E_T^{miss})$"
  VariableTitle: "\Delta\phi(l_{T})(E_{T}^{miss})"
  Variable: "dPhi_lT_met",30,-3.5,3.5

Region: MlH0lH1
  Type: VALIDATION
  Label: "MlH0lH1"
  TexLabel: "$M(l_{H0}l_{H1})$ [GeV]"
  VariableTitle: "M(l_{H0}l_{H1}) [GeV]"
  Variable: "MlH0lH1/1000",30,0,400

Region: MlH1lT
  Type: VALIDATION
  Label: "MlH1lT"
  TexLabel: "$M(l_{H1}l_{T})$ [GeV]"
  VariableTitle: "M(l_{H1}l_{T}) [GeV]"
  Variable: "MlH1lT/1000",30,0,400

Region: MlH0lT
  Type: VALIDATION
  Label: "MlH0lT"
  TexLabel: "$M(l_{H0}l_{T})$ [GeV]"
  VariableTitle: "M(l_{H0}l_{T}) [GeV]"
  Variable: "MlH0lT/1000",30,0,400

Region: dR_lH0_lH1
  Type: VALIDATION
  Label: "dR_lH0_lH1"
  TexLabel: "$\Delta R(l_{H0})(l_{H1})$"
  VariableTitle: "\Delta R(l_{H0})(l_{H1})"
  Variable: "dR_lH0_lH1",30,0,6

Region: dR_lH1_lT
  Type: VALIDATION
  Label: "dR_lH1_lT"
  TexLabel: "$\Delta R(l_{H1})(l_{T})$"
  VariableTitle: "\Delta R(l_{H1})(l_{T})"
  Variable: "dR_lH1_lT",30,0,6

Region: dR_lH0_lT
  Type: VALIDATION
  Label: "dR_lH0_lT"
  TexLabel: "$\Delta R(l_{H0})(l_{T})$"
  VariableTitle: "\Delta R(l_{H0})(l_{T})"
  Variable: "dR_lH0_lT",30,0,6

Region: MllHT0Met
  Type: VALIDATION
  Label: "MllHT0Met"
  TexLabel: "$M(ll_{H}T0$M(et)$ [GeV]"
  VariableTitle: "M(ll_{H}T0M(et) [GeV]"
  Variable: "MllHT0Met/1000",30,0,400

Region: MllHT1Met
  Type: VALIDATION
  Label: "MllHT1Met"
  TexLabel: "$M(ll_{H}T1$M(et)$ [GeV]"
  VariableTitle: "M(ll_{H}T1M(et) [GeV]"
  Variable: "MllHT1Met/1000",30,0,400

Region: MllT0T1Met
  Type: VALIDATION
  Label: "MllT0T1Met"
  TexLabel: "$M(ll_{T0}T1$M(et)$ [GeV]"
  VariableTitle: "M(ll_{T0}T1M(et) [GeV]"
  Variable: "MllT0T1Met/1000",30,0,400

Region: dR_lH0lH1_lT
  Type: VALIDATION
  Label: "dR_lH0lH1_lT"
  TexLabel: "$\Delta R(l_{H0}l_{H1})(l_{T})$"
  VariableTitle: "\Delta R(l_{H0}l_{H1})(l_{T})"
  Variable: "dR_lH0lH1_lT",30,0,6

Region: dR_lH0lT_lH1
  Type: VALIDATION
  Label: "dR_lH0lT_lH1"
  TexLabel: "$\Delta R(l_{H0}l_{T})(l_{H1})$"
  VariableTitle: "\Delta R(l_{H0}l_{T})(l_{H1})"
  Variable: "dR_lH0lT_lH1",30,0,6

Region: dR_lH0lH1_t0
  Type: VALIDATION
  Label: "dR_lH0lH1_t0"
  TexLabel: "$\Delta R(l_{H0}l_{H1})(t_0)$"
  VariableTitle: "\Delta R(l_{H0}l_{H1})(t_{0})"
  Variable: "dR_lH0lH1_t0",30,0,6

Region: dR_lH0lH1_t1
  Type: VALIDATION
  Label: "dR_lH0lH1_t1"
  TexLabel: "$\Delta R(l_{H0}l_{H1})(t_1)$"
  VariableTitle: "\Delta R(l_{H0}l_{H1})(t_{1})"
  Variable: "dR_lH0lH1_t1",30,0,6

Region: dRlH0t0
  Type: VALIDATION
  Label: "dRlH0t0"
  TexLabel: "$\Delta R(l_{H0}t_0)$"
  VariableTitle: "\Delta R(l_{H0}t_{0})"
  Variable: "dRlH0t0",30,0,6

Region: MlH0t0
  Type: VALIDATION
  Label: "MlH0t0"
  TexLabel: "$M(l_{H0}t_0)$ [GeV]"
  VariableTitle: "M(l_{H0}t_{0}) [GeV]"
  Variable: "MlH0t0/1000",30,0,400

Region: dRlH0t1
  Type: VALIDATION
  Label: "dRlH0t1"
  TexLabel: "$\Delta R(l_{H0}t_1)$"
  VariableTitle: "\Delta R(l_{H0}t_{1})"
  Variable: "dRlH0t1",30,0,6

Region: MlH0t1
  Type: VALIDATION
  Label: "MlH0t1"
  TexLabel: "$M(l_{H0}t_1)$ [GeV]"
  VariableTitle: "M(l_{H0}t_{1}) [GeV]"
  Variable: "MlH0t1/1000",30,0,400

Region: dRlH1t0
  Type: VALIDATION
  Label: "dRlH1t0"
  TexLabel: "$\Delta R(l_{H1}t_0)$"
  VariableTitle: "\Delta R(l_{H1}t_{0})"
  Variable: "dRlH1t0",30,0,6

Region: MlH1t0
  Type: VALIDATION
  Label: "MlH1t0"
  TexLabel: "$M(l_{H1}t_0)$ [GeV]"
  VariableTitle: "M(l_{H1}t_{0}) [GeV]"
  Variable: "MlH1t0/1000",30,0,400

Region: dRlH1Ht1
  Type: VALIDATION
  Label: "dRlH1Ht1"
  TexLabel: "$\Delta R(l_{H1}Ht_1)$"
  VariableTitle: "\Delta R(l_{H1}Ht_{1})"
  Variable: "dRlH1Ht1",30,0,6

Region: MlH1t1
  Type: VALIDATION
  Label: "MlH1t1"
  TexLabel: "$M(l_{H1}t_1)$ [GeV]"
  VariableTitle: "M(l_{H1}t_{1}) [GeV]"
  Variable: "MlH1t1/1000",30,0,400

Region: met
  Type: VALIDATION
  Label: "met"
  TexLabel: "$E_T^{miss}$ [GeV]"
  VariableTitle: "E_{T}^{miss} [GeV]"
  Variable: "met/1000",30,0,400

Region: topScore
  Type: VALIDATION
  Label: "topScore"
  TexLabel: "topScore"
  VariableTitle: "topScore"
  Variable: "topScore",30,0,1

